/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #3a2525
nord1  #3a2525
nord2  #6b5252
nord3  #6b5252
Snow Storm
nord4  #ffdddd
nord5  #ffdddd
nord6  #ffdddd
Frost
nord7  #93d99e
nord8  #93d99e
nord9  #9acee7
nord10 #9acee7
Aurora
nord11 #ff5555
nord12 #f16b3a
nord13 #d1a424
nord14 #b0c646
nord15 #f467c4
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    color: #ffdddd;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: "Fira Sans SemiBold";
    font-size: 8pt;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:0px;
   }

window#waybar {
    background:#3a2525;
}

#workspaces button {
    padding: 0px 0px;
    border-bottom: 2px;
    color: #947777;
    border-color: #947777;
    border-style: solid;
    margin-top:0px;
}

#workspaces button.focused {
	color: #ff5555;
	border-color: #ff5555;
}

#mode {
    color: #d1a424;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman {
    padding: 0 3px;
    border-bottom: 2px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color:#ffdddd;
}

@keyframes blink {
    to {
        color: #6b5252;
        background-color: #ffdddd;
    }
}

#cpu {
    color:#ffdddd;
}

#memory {
    color: #ffdddd;
}

#network.disabled {
	background-color: #ff5555;
    color: #ffffff;
}

#network{
    color:#ffdddd;
}

#network.disconnected {
	background-color: #ff5555;
    color: #ffffff;
}

#pulseaudio {
    color: #b0c646;
}

#pulseaudio.muted {
	background-color: #ff5555;
    color: #ffffff;
}

#temperature {
    color: #ffdddd;
}

#temperature.critical {
	background-color: #ff5555;
    color: #ffffff;
}

#idle_inhibitor {
   color: #ffdddd;
}

#tray {
	color: #ffdddd;
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:0px;    
}

#window{
    border-style: hidden;
    margin-top:0px;  
}

#mode{
    margin-bottom:0px;
}

#custom-keyboard-layout{
   color:#ffdddd;
}
