/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #392525
nord1  #392525
nord2  #6b5252
nord3  #6b5252
Snow Storm
nord4  #ffdddd
nord5  #ffdddd
nord6  #ffdddd
Frost
nord7  #86dfbf
nord8  #86dfbf
nord9  #b0bee3
nord10 #b0bee3
Aurora
nord11 #ff5555
nord12 #f16b3a
nord13 #d1a424
nord14 #bdbd34
nord15 #ff4d91
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    color: #ffdddd;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: "Fira Sans SemiBold";
    font-size: 8pt;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:0px;
   }

window#waybar {
    background:#392525;
}

#workspaces button {
    padding: 0px 0px;
    border-bottom: 2px;
    color: #ffdddd;
    border-color: #ffdddd;
    border-style: solid;
    margin-top:0px;
}

#workspaces button.focused {
    border-color: #b0bee3;
}

#mode {
    color: #d1a424;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman {
    padding: 0 3px;
    border-bottom: 2px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color:#bdbd34;
}

#backlight {
    color: #d1a424;
}

#battery {
    color: #ffdddd;
}

#battery.charging {
    color: #b0bee3;
}

@keyframes blink {
    to {
        color: #6b5252;
        background-color: #ffdddd;
    }
}

#battery.critical:not(.charging) {
    background: #ff5555;
    color: #ffdddd;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#bdbd34 ;
}

#memory {
    color: #d3869b;
}

#network.disabled {
    color:#ff5555;
}

#network{
    color:#bdbd34;
}

#network.disconnected {
    color: #ff5555;
}

#pulseaudio {
    color: #ff4d91;
}

#pulseaudio.muted {
    color: #392525;
}

#temperature {
    color: #86dfbf;
}

#temperature.critical {
    color: #ff5555;
}

#idle_inhibitor {
   color: #d1a424;
}

#tray {
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:0px;    
}

#window{
    border-style: hidden;
    margin-top:0px;  
}    
#mode{
    margin-bottom:0px;
}

#custom-keyboard-layout{
   color:#f16b3a;
}   



