window {
  margin: 2px;
  border: 2px solid #ffdddd;
  background-color: #ffdddd;
  font-family: Fira Sans SemiBold;
  font-size: 10pt;
  border-radius: 0px;
  }
  
  #input {
  margin: 5px;
  border: 2px solid #392525;
  background-color: #392525;
  }
  
  #inner-box {
  margin: 2px;
  border: 2px solid #392525;
  background-color: #392525;
  }
  
  #outer-box {
  margin: 2px;
  border: 2px solid #392525;
  background-color: #392525;
  border-radius: 0px;
  }
  
  #scroll {
  margin: 5px;
  border: 2px solid #392525;
  background-color: #392525;
  }
  
  #text {
  margin: 5px;
  border: 2px #392525;
  color: #ffdddd;
  }

   #entry:selected {
  background-color: #ffdddd;
  }

  #text:selected {
  color: #392525;
  }
  
  